@import "_nullstyle";

.wrapper {
    min-height: 100%;
    overflow: hidden;
    //     [display: flex;
    //     flex-direction: column;] - если надо прижать футер
}

/*-----------------------------------------------------------------*/
.container {
    max-width: 1110px;
    margin: 0px auto;
    padding: 0 15px;
    box-sizing: content-box;
}

// .ibg {
//     position: relative;
//     img {
//         width: 100%;
//         height: 100%;
//         position: absolute;
//         top: 0;
//         left: 0;
//         object-fit: cover;
//     }
// }

// &__image {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     img {
//         @media (max-width: px) {
//             object-position: right;
//         }
//     }
// }

/*-----------------------------------------------------------------*/

//@media (max-width: px) {
//      max-width: px;
//  }

/*-----------------------------------------------------------------*/
.nav {
    background-color: #7868b1;
    &__container {
        display: flex;
        gap: 100px;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding: 24px 0;
        @media (max-width: 515px) {
            gap: 40px;
        }
        @media (max-width: 394px) {
            flex-direction: column;
            gap: 15px;
        }
    }
    &__link {
        color: #000000;
        font-family: "Roboto Slab";
        font-size: 30px;
        font-weight: 500;
        text-align: center;
        &:hover {
            color: #ffffff;
        }
    }
}

.header {
    min-height: 200px;
    background-color: #baafe0;
    padding: 30px 0 80px 0;
    &__container {
    }

    &__text {
        color: #ffffff;
        font-family: "Roboto Slab";
        font-size: 75px;
        font-weight: 500;
        text-align: center;
        margin: 0 0 60px 0;
        @media (max-width: 587px) {
            font-size: 44px;
        }
        @media (max-width: 350px) {
            font-size: 34px;
            margin: 0 0 40px 0;
        }
        @media (max-width: 350px) {
            font-size: 28px;
        }
    }

    &__subtitle {
    }

    &__video {
        display: flex;
        justify-content: center;
    }
}
.mama {
    background-color: #ad9fe0;
    &__container {
        padding: 50px 0;
    }

    &__text {
    }

    &__gallery {
    }

    &__items {
    }

    &__item {
    }
}

.items {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    padding: 0 7px;
}

.item {
    position: relative;
    padding: 0 0 85% 0;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 2;
    }
    &:hover {
        z-index: 3;
        img {
            @media (min-width: 802px) and (pointer: fine) and (hover: hover) {
                width: 250%;
                height: 250%;
                transition-delay: 0.5s;
            }
            @media (max-width: 1060px) and (pointer: fine) and (hover: hover) {
                width: 200%;
                height: 200%;
                transition-delay: 0.5s;
            }
            @media (max-width: 799px) and (pointer: fine) and (hover: hover) {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.left {
    img {
        @media (min-width: 1061px) {
            &:hover {
                @media (pointer: fine) and (hover: hover) {
                    transform: translateX(-400px);
                }
            }
        }
    }
}

.third {
    img {
        @media (max-width: 1060px) and (min-width: 799px) {
            &:hover {
                transform: translateX(-257px);
            }
        }
    }
}

.bigitem {
    grid-column: span 2;
    grid-row: span 2;
    img {
        &:hover {
            width: 100%;
            height: 100%;
        }
    }
}

.visible {
    @media (max-width: 1030px) {
        display: none;
    }
}

.muron {
    background-color: #caadff;
    &__container {
        padding: 50px 0;
    }

    &__text {
    }

    &__gallery {
    }

    &__items {
    }

    &__item {
    }
}

.my {
    background-color: #ffc2e2;
    &__container {
        padding: 50px 0;
    }

    &__text {
    }

    &__gallery {
    }

    &__items {
    }

    &__item {
    }
}
.text {
    color: #000000;
    font-family: "Fira Sans";
    font-size: 56px;
    font-weight: 600;
    // text-align: center;
    margin: 0 0 30px 0;
    @media (max-width: 587px) {
        font-size: 40px;
    }
    @media (max-width: 350px) {
        font-size: 34px;
    }
    padding-left: 10px;
}

.ending {
    background-color: #ffadc7;

    &__container {
        padding: 50px 0;
    }

    &__text {
        text-align: center;
        @media (max-width: 350px) {
            font-size: 30px;
        }
    }

    &__video {
        display: flex;
        justify-content: center;
    }
}
.footer {
    background-color: #ff99b6;
    &__container {
        padding: 50px 0 20px 0;
    }
}

iframe {
    width: 560px;
    height: 315px;
    @media (max-width: 632px) {
        width: 360px;
        height: 220px;
    }
    @media (max-width: 380px) {
        width: 280px;
        height: 160px;
    }
    @media (max-width: 305px) {
        width: 250px;
        height: 150px;
    }
}
